:root{
    --branco-principal:#ffffff;
    --verde-secundario:#119704;
    --cor-de-fundo:#00030C;
    --cinza-secundaria: #C0C0C0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

strong{
    color: var(--verde-secundario);
}

.container__botao{
    background-color: var(--verde-secundario)   ;
    border-radius: 5px;
    background-color: var(--verde-secundario);
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}

h1{
    font-size: 28px;
    text-align: center;
    @import url();
}

.principal{
    background-image: url("img/livro1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
}
