:root{
    --branco-principal:#ffffff;
    --verde-secundario:#119704;
    --cor-de-fundo:#00030C;
    --cinza-secundaria: #C0C0C0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

strong{
    color: var(--verde-secundario);
}
button{
    background-color: var(--verde-secundario);
}